<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azfn-appin-integration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f1d9ba77-9854-42d4-b2f5-641499b88ff0/resourceGroups/azfn-appin-demo-rg/providers/Microsoft.Web/sites/azfn-appin-integration</ResourceId>
    <UserName>$azfn-appin-integration</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://azfn-appin-integration.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>